*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* start navbar */

.navbar{
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo h4{
    padding-left: 15px;
    font-family: 'Quicksand', sans-serif;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px 10px;
}

ul li{
    list-style-type: none;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
 
.nav-link a{
    text-decoration:none;
    color: antiquewhite;
}

main{
    background-color: rgb(37, 37, 37);
}

/* end navbar */

/* start jumbotron */

.jumbotron img{
    width: 100%;
    height: 650px;
    filter: drop-shadow(-5px -5px 5px rgb(37,37,37));
}

/* end jumbotron */

/* start sections */

.film{
    height: 400px;
    margin: 15px;
}

.film h1{
    color: blanchedalmond;
    margin-bottom: 20px ;
}

.rightnow, .tv-series{
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 37);
}

.rightnow-img img, .tv-series-img img{
    width: 200px;
    height: 300px;
    margin-right: 20px;
}

/* end sections */