*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(37, 37, 37);
}

/* start navbar */

.navbar{
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo h4{
    padding-left: 15px;
    font-family: 'Quicksand', sans-serif;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px 10px;
}

ul li{
    list-style-type: none;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
 
.nav-link a{
    text-decoration:none;
    color: antiquewhite;
}

main{
    background-color: rgb(37, 37, 37);
}

/* end navbar */

/* start jumbotron */

.jumbotron img{
    width: 100%;
    height: 650px;
    filter: drop-shadow(-5px -5px 5px rgb(37,37,37));
}

/* end jumbotron */

/* start sections */

.film{
    height: 400px;
    margin: 0px 15px;
}

.film h1{
    color: blanchedalmond;
    margin: 20px 0px;
}

.rightnow, .tv-series{
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 37);
}

.rightnow-img img, .tv-series-img img{
    width: 200px;
    height: 300px;
    margin-right: 20px;
}

/* end sections */

/* start footer */

.info{
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.info p{
    margin-right: 20px;
}

p{
    color: blanchedalmond;
}

.info a {
    color: blanchedalmond;
}

/* end footer */

/* start contact page */

.contact-main{
    background-color: rgb(37, 37, 37);
}

h1{
    padding: 15px;
    color: blanchedalmond;
}

h2{
    padding: 15px;
    color: blanchedalmond;
}

fieldset{
    padding: 15px;
    color: blanchedalmond;
}

.form-example{
    padding: 15px;
    color: blanchedalmond;
}

.container{
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.back-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

/* end contact page */